body {
	background: #333;
	color: #ccc;
	font-size: 1.7rem;
}
.App {
	padding: 20px;
	border: 10px solid red;
	width: 100%;
	height: 100vh;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	.showText {
		font-size: 3rem;
	}
}
